.write-modal {
  background-color: darkorange;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  min-height: 70%;
  padding: 50px 100px;
  box-sizing: border-box;
  line-height: 1.5em;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  z-index: 9999;

  .close {
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: transparent;
    font-size: 50px;
    color: white;
    border: none;

    &:hover {
      cursor: url(../../assets/f_w.png), auto;
    }
  }

  .input-container {
    display: flex;
    flex: 1;
    height: 450px;
    margin-top: 35px;
    flex-direction: column;
    // align-items: center;

    .letter-input {
      width: 100%;
      height: 100%;
      font-size: 20px;
      box-sizing: border-box;
      border: 0;
      background-attachment: local;
      background-image: linear-gradient(
          to right,
          darkorange 0px,
          transparent 0px
        ),
        linear-gradient(to left, darkorange 0px, transparent 0px),
        repeating-linear-gradient(
          darkorange,
          darkorange 30px,
          white 30px,
          white 31px,
          darkslategray 31px
        );
      line-height: 31px;
      padding: 0px 10px;
      color: white;
    }

    .author-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      font-size: 20px;

      .author-input {
        margin-left: 15px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
        padding: 5px;
        color: white;
        font-size: 20px;
      }
    }
  }

  .button-container {
    margin-top: 25px;

    button {
      padding: 12px 40px;
      border: none;
      font-size: 1.5rem;
      color: white;
      background-color: black;
    }

    button:hover {
      cursor: pointer;
    }
  }

  &.show {
    display: flex;
  }

  &.loading:hover {
    cursor: url(../../assets/skip.png), auto;
  }

  @media screen and (max-width: 768px) {
    padding: 10px 25px;
    font-size: 1.3em;
    width: calc(100% - 30px);

    .close {
      font-size: 2.2em;
      top: 15px;
      right: 20px;
    }

    .text {
      max-height: 450px;
      margin-top: 20px;
    }
  }
}
