.write-modal {
  background-color: darkorange;
  color: white;
  position: absolute;
  width: 70%;
  min-height: 70%;
  max-height: 80%;
  padding: 50px 100px;
  box-sizing: border-box;
  line-height: 1.5em;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 30px;

  .close {
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: transparent;
    font-size: 50px;
    color: white;
    border: none;

    &:hover {
      cursor: url(../../assets/f_w.png), auto;
    }
  }

  .text {
    overflow-y: scroll;
    max-height: 500px;
  }

  &.show {
    display: flex;
  }

  &.loading:hover {
    cursor: url(../../assets/skip.png), auto;
  }
}
